
  html {
    font-family: sans-serif;
  }

  body {
    margin: 0;
  }


  header {
    display: grid;
    margin: 20px;
  }

  header input {
    width: 100%;
    max-width: 70%;
    margin: auto;
    height: 45px;
    border: 2px solid #DDD;
    border-radius: 5px;
    padding: 0 10px;
  }


/* Gallery container */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    justify-items: center;
    margin: 0 10px;
}
